.command {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--light-color);

    @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 94px;
        }
}

.command--list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        }
}

.command--list__items {
    width: 450px;
    border: none;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin: 15px;

    @media screen and (min-width: 768px) {
            width: 354px;
        }
    
        @media screen and (min-width: 1200px) {
            width: 270px;
        }
}

.command--list__persons {
    padding-top: 30px;
    padding-bottom: 30px;
}

.command--list__names {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-dark);
}

.command--list__proffession {
    margin-bottom: 16px;
    border: none;
    border-radius: 4px;
    color: var(--main-grey);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-grey);
}

.command--list__social {
    display: flex;
    justify-content: center;
}

.command--list__item:not(:last-child) {
    margin-right: 10px;
}

.command--list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--comm-social-link);
    border-radius: 50%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            color: var(--white-color);
            background-color: var(--primary-color);
            outline: none;
        }
}

.command--list__link__icon {
    fill: currentColor;
}


